[submodule "mongodb"]
	path = mongodb
	url = https://github.com/edelight/chef-mongodb.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "python"]
	path = python
	url = https://github.com/opscode-cookbooks/python
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel
[submodule "redis"]
	path = redis
	url = https://github.com/jtescher/redis.git
